@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.container {
    width: 1440px;
    height: 600px;
    background: hsl(244, 38%, 16%);
    display: flex;
    border-radius: 10px;
}

.card-left,
.card-right {
    width: 50%;
}

.card-right {
    background: hsl(277, 64%, 61%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-right img {
    width: 100%;
    height: 100%;
    opacity: .8;
    mix-blend-mode: hard-light;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-left {
    padding: 5rem;
}

.card-left h1 {
    font-size: 2.9rem;
    font-weight: 700;
}

.card-left h1 span {
    color: hsl(277, 64%, 61%);
}

.card-left .text {
    font-size: 1.2rem;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.75);
    padding-right: 5rem;
    margin: 2.5rem 0;
}

.value-container {
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
    margin-top: 8rem;
}

.companies h2 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.companies p {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 2px;
}

.templates h2 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.templates p {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 2px;
}

.queries h2 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.queries p {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 2px;
}

@media only screen and (max-width: 976px) {
    .container {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .card-right,
    .card-left {
        width: 100%;
    }

    .card-right {
        order: 1;
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }

    .card-right img {
        border-top-left-radius: 10px;
    }

    .card-left {
        order: 2;
        text-align: center;
        padding: 1.5rem;
        margin-top: .7rem;
    }

    .card-left h1 {
        font-size: 2rem;
    }

    .card-left .text {
        font-size: 1rem;
        font-weight: 300;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        text-align: center;
        margin: .7rem 0;
    }

    .value-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .value-container h2 {
        font-size: 1.5rem;
    }

    .value-container p {
        font-size: .8rem;
    }

    .value-container .box {
        margin-top: 1.2rem;
    }
}